# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
*.bak
*.bck
*.kicad_pcb-bak
*.ps
*_autosave-*
_save*
*-cache.*
*.tmp
*.pdf
*-rescue.lib
*shapes3D

# Netlist files (exported from Eeschema)
*.net

# Exported BOM files
*.xml
*.csv
